# compiled output
/dist
/build

/test/*

/bin
/build_bin 
/include
/lib
/share

/public/installed_app.json 

# OS
.DS_Store

# IDE - VSCode
.vscode/
# .vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# Binary Code
/public/binary
